## Variable
A variable has a name, and you can store something in it.

In [1]:
x=5
print(x)

5

## Variable Naming

In [2]:
# 1. Variable name must strat with a letter
Name="My name is Abc"
print(Name)

# 2. Variable name must strat with a underscores
_name="Abc"
print(_name)

# 3. Variable name can only contain alpha-numeric characters and underscores(A-z,0-9,and _)
name_1="xyz"
print(name_1)

nameab_10k="xyzabc"
print(nameab_10k)

# 4. Variable name are case-sensitive
Abc_Name="XYZ"
print(Abc_Name)

My name is Abc
Abc
xyz
xyzabc
XYZ

## llegal variable names:

In [3]:
# 5. variable name can not start with a number
# 5a="Abc"
# print (5a)

# name-first="xyz"
# print(name-first)

# name last="Abc Xyz"
# print(name last)

# 6. variable name cannot be any of the python keywords
# print,class,in,or,and,True,False...

# Data Type in Python

In [4]:
# int
# float
# boolean
# string


# List
# Tuple
# Dictionary

In [5]:
int1=78
print(int1)

78

In [6]:
float1=22.33
print(float1)

22.33

In [7]:
str1="abcxyz"
print(str1)

abcxyz

In [8]:
bool1=True
print(bool1)

bool1=False
print(bool1)

True
False

### List,Tuple,Dictionary

In [9]:
# A buit-in data type stores set of values
## it can be store elements of differnt types(integer,float,string)
list=["Abc",78,"male",5.67]
print(list)

['Abc', 78, 'male', 5.67]

In [10]:
# Tuple
# tuple is immutable
tup=(2,1,5,7)
print(tup)

(2, 1, 5, 7)

In [11]:
# Dictionary
# dictionary are used to store data value in key:value paries
dict1={
    "name":"abc",
    "age":18,
    "sub":["c++","python","java"]
}
print(dict1)


h={"name":"Abc","age":1}
print(h)

{'name': 'abc', 'age': 18, 'sub': ['c++', 'python', 'java']}
{'name': 'Abc', 'age': 1}

In [12]:
# dict under dict
dict1={
    "name":"abc",
    "age":18,
    "sub":{
        "python":78,
        "Java":60,
        ".net":55
    }
}
print(dict1)

{'name': 'abc', 'age': 18, 'sub': {'python': 78, 'Java': 60, '.net': 55}}

In [13]:
# range
g=range(10)
print(g)

range(0, 10)

In [14]:
# set
## sets are used to store multiple items in a single variable.
### A set is a collection which is unordered,unchangeable,and unindexed.
i={"welcome","to","college"}
print(i)

{'college', 'to', 'welcome'}

# Loops

## if-else statement
An if-else statement is used to make a decision. It checks a condition and executes one block of code if the condition is true, and another block of code if the condition is false.

syntax
if condition:
    # code to execute if condition is true
else:
    # code to execute if condition is false

In [15]:
age=17
if age >=18:
    print("You are an adult.")
else:
    print("you are not an adult")

you are not an adult

## nested loop

syntax

if condition1:
    # code to execute if condition1 is true
elif condition1:
    # code to execute if condition1 is False and condition2 is true
else:
    # code to execute if all conditions are false

In [16]:
scroe=78

if scroe>=90:
    grade='A'
elif scroe>=80:
    grade='B'
elif scroe>=70:
    grade="C"
else:
    grade="D"
    
print("Your grade is:",grade)

Your grade is: C

## while loop

A while loop repeats a block of code an unknown number of times until a condition is no longer met.

syntax

while condition:
    # body of while loop

In [19]:
# program to display numbers from 1 to 5
count=0
while count< 5:
    print("count is:",count)
    count +=1  # count= count+1

count is: 0
count is: 1
count is: 2
count is: 3
count is: 4

In [20]:
# program to display numbers from 1 to 5

# intialize the variable
i=1
n=5

# while loop from i=1 to 5
while i<=n:
    print(i)
    i+=1

1
2
3
4
5

## for loop
A for loop is used to repeat a block of code for each item in a sequence, such as:
list
tuple
string
range of numbers

It helps avoid writing the same code again and again.

syntax 
for variable in sequence:
    # code to be executed for each item in the sequence

In [21]:
abc=["apple","banana","kiwi"]
for ab in abc:
    print(ab)

apple
banana
kiwi

In [22]:
n=5
for i in range(0,n):
    print(i)

0
1
2
3
4